*
#conteudo{
    text-align: center;
    font-family:sans-serif;
}

image{
    background:url(./img/banner.jpg); 
}


h1{
    color:#ffffff;
    position: absolute;
    font-size:60px;
    
}

#Educacao{
    font-size: 50px;
    position: absolute;
    text-align: center;
    background:url(./img/footer.jpg);
}
#lateralim{
    float: left;
    color
}
#lateralt{
    float: left;
}

h2{
    font-weight: bold;
}
#texto{
    text-align: center;
}

h3{
    color: #ffffff;
    background-color: #0b340b;
    padding: 10px;
    width: 150px;
}

